<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>爱在一起</title>
        <!-- Favicon -->
        <link href="../static/images/B9678S.png" rel="icon" type="image/png" />
        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
        <!-- FontAwesome -->
        <link href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css" rel="stylesheet" />
        <!-- Main CSS -->
        <link type="text/css" href="../static/css/main.min.css" rel="stylesheet" />
        <!-- KaTeX CSS -->
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.min.css" />
        <!-- PrismJS CSS -->
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/prismjs@1.20.0/themes/prism-okaidia.css" />
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/prismjs@1.20.0/plugins/toolbar/prism-toolbar.css" />
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/prismjs@1.20.0/plugins/line-numbers/prism-line-numbers.css" />
        <!-- Viewer CSS -->
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/viewerjs/dist/viewer.min.css" />
        <!-- Jquery -->
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
        <!-- Custom CSS -->
        <!-- Viewer.js Plugin -->
        <script src="https://cdn.jsdelivr.net/npm/viewerjs/dist/viewer.min.js"></script>
        <script src="https://cdn.jsdelivr.net/gh/fengyuanchen/jquery-viewer@master/dist/jquery-viewer.min.js"></script>

    </head>
    <body>
        <header class="header-global">
            <nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom">
                <div class="container">
                    <a class="navbar-brand" href="https://wdf.link/">100事</a><!--相爱-->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                    <div class="collapse navbar-collapse" id="navbar-default">
                        <div class="navbar-collapse-header">
                            <div class="row">
                                <div class="col-6 collapse-brand">
                                    <a href="https://wdf.link/"><h5>刘刘和他的菲菲</h5></a>
                                </div>
                                <div class="col-6 collapse-close">
                                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation"> <span></span> <span></span> </button>
                                </div>
                            </div>
                        </div>
                        <ul class="navbar-nav ml-lg-auto align-items-lg-center">
                            <li class="nav-item"> </li>
                            <li class="nav-item"> <a class="nav-link" href="https://tntofu.com/about.html" title="关于">关于</a> </li>
                            <li class="nav-item"> <a class="nav-link" href="https://tntofu.com/chat.html" title="留言板">留言板</a> </li>
                            <li class="navbar_search_container">
                                <form method="post" action="" id="search">
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-search"></i></span>
                                        </div>
                                        <input type="text" name="s" class="form-control" placeholder="搜点什么……" autocomplete="off" />
                                    </div>
                                </form> </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div id="pjax-container">
            <main>
                <section class="section section-lg section-hero section-shaped" style="height: 100vh;">
                    <!--背景气泡-->
                    <div class="shape shape-style-1 shape-image" style="background-image: url(https://tntofu.com/usr/uploads/2020/04/592309583.jpg)">
                        <span class="span-150"></span>
                        <span class="span-50"></span>
                        <span class="span-50"></span>
                        <span class="span-75"></span>
                        <span class="span-100"></span>
                        <span class="span-75"></span>
                        <span class="span-50"></span>
                        <span class="span-100"></span>
                        <span class="span-50"></span>
                        <span class="span-100"></span>
                    </div>

                    <div class="container shape-container d-flex align-items-center py-lg">
                        <div class="col px-0">
                            <div class="row align-items-center justify-content-center">
                                <div class="col-lg-6 text-center">
                                    <div class="index-avatar-container">
                                        <img src="https://s3.ax1x.com/2020/11/16/DAUQVU.jpg" class="index-avatar" />
                                    </div>
                                    <h1 class="text-white">刘刘</h1><!--和他的菲菲-->
                                    <hr />
                                    <p class="lead text-white">这里记录</p><!--了刘刘和他的菲菲相爱需要打卡的一百件事-->
                                </div>
                            </div>
                        </div>
                    </div>

                </section>
                <section class="section section-components bg-secondary content-card-container">
                    <div id = "vueContents" class="container container-lg py-5 align-items-center content-card-container">

                        <!-- Article list -->

                        <div  class="card shadow content-card list-card content-card-head">
                            <div  class="content">
                                <h1 style="text-align:center"><a class="text-default" href="https://tntofu.com/archives/175.html">统计完成了多少和多少没完成</a></h1>
                                   <!-- <span class="list-tag" style="float:right"><i class="fa fa-calendar-o" aria-hidden="true"></i> <time datetime="2020-09-17T11:39:00+08:00">2020-09-17</time></span>
                                <a href="https://tntofu.com/archives/117.html"> <button class="btn btn-icon btn-3 btn-outline-primary" type="button"> <span class="btn-inner--icon"><i class="fa fa-play" aria-hidden="true"></i></span> <span class="btn-inner--text">打卡记录</span> </button> </a>
-->
                            </div>
                        </div>

                        <div v-for="content in contents" class="card shadow content-card list-card ">
                            <div class="content">
                                <h1 style="text-align:center"><a class="text-default" href="https://tntofu.com/archives/168.html">{{content.title}}</a></h1>
                                {{content.modifiedBy}}
                                    <span class="list-tag" style="float:right"><i class="fa fa-calendar-o" aria-hidden="true"></i> <time >2020-20-20</time></span>
                                <a href="https://tntofu.com/archives/117.html"> <button class="btn btn-icon btn-3 btn-outline-primary" type="button"> <span class="btn-inner&#45;&#45;icon"><i class="fa fa-play" aria-hidden="true"></i></span> <span class="btn-inner&#45;&#45;text">打卡记录</span> </button> </a>
                            </div>
                        </div>
                        <!--
                        <div class="card shadow content-card list-card ">
                            <div class="content">
                                <h1 style="text-align:center"><a class="text-default" href="https://tntofu.com/archives/168.html">打游戏</a></h1>
                                <span class="list-tag" style="float:right"><i class="fa fa-calendar-o" aria-hidden="true"></i> <time datetime="2020-07-31T11:22:00+08:00">2020-07-31</time></span>
                                <a href="https://tntofu.com/archives/117.html"> <button class="btn btn-icon btn-3 btn-outline-primary" type="button"> <span class="btn-inner&#45;&#45;icon"><i class="fa fa-play" aria-hidden="true"></i></span> <span class="btn-inner&#45;&#45;text">打卡记录</span> </button> </a>

                            </div>
                        </div>
                        -->
                    </div>
                </section>
            </main>

        </div>


        <a id="scrollup" href="#" style="display: none;"> <button id="scrollbtn" class="btn btn-icon-only rounded-circle btn-secondary scrollup-btn"> <span class="btn-inner--icon"><i class="fa fa-arrow-up" aria-hidden="true"></i></span> </button> </a>
        <!-- Core -->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"></script>
        <!-- Optional plugins -->
        <script src="https://cdn.jsdelivr.net/npm/headroom.js@0.11.0/dist/headroom.min.js"></script>
        <!-- Theme JS -->
        <script src="https://tntofu.com/usr/themes/Bubble/assets/js/argon.min.js"></script>
        <script src="https://tntofu.com/usr/themes/Bubble/assets/js/bbrender.js"></script>
        <!-- scrollup -->
        <script>
            $(function(){
                var scrollBottom = parseInt($("#adminbtn").css("bottom")) + parseInt($("#adminbtn").css("height")) + 25;
                $("#scrollbtn").css("bottom", scrollBottom);
                var resizeTimer;
                $(window).resize(function(e) {
                    if ($("#adminbtn").length > 0)
                    {
                        clearTimeout(resizeTimer);
                        resizeTimer = setTimeout(function() {
                            scrollBottom = parseInt($("#adminbtn").css("bottom")) + parseInt($("#adminbtn").css("height")) + 25;
                            $("#scrollbtn").css("bottom", scrollBottom);
                        }, 250);
                    }
                });
                var scrollLock = 0;
                if ($(window).scrollTop() > 500) $("#scrollup").fadeIn(400);
                $(window).scroll(function() {
                    if (!scrollLock)
                    {
                        if ($(window).scrollTop() > 500) $("#scrollup").fadeIn(400);
                        else $("#scrollup").fadeOut(400);
                    }
                });
                $("#scrollup").click(function() {
                    scrollLock = 1;
                    $("#scrollup").fadeOut(400);
                    $("html,body").animate({scrollTop: "0px"}, 500, function() {
                        scrollLock = 0;
                    });
                });
            });
        </script>
        <!-- Pjax -->
        <script>
            function init(){
                var pres = document.querySelectorAll('pre');
                var lineNumberClassName = 'line-numbers';
                pres.forEach(function (item, index) {
                    item.className = item.className == '' ? lineNumberClassName : item.className + ' ' + lineNumberClassName;
                });
                Prism.highlightAll(false,null);

                try{
                    renderMathInElement(document.body,{
                        delimiters: [
                            {left: "$$", right: "$$", display: true},
                            {left: "$", right: "$", display: false}
                        ]
                    })
                }catch{}
                parseBbcode()
                parseBblink()
                try{
                    window.onload()
                }catch{}
                setTimeout(() => {
                    $('.content').viewer({
                        url: 'src'
                    })
                },300)
            }
            function destroy(){
                // viewerjs
                var viewer = $('.content').data('viewer');
                if(viewer){
                    viewer.destroy()
                }
            }
            window.addEventListener("popstate", function(e) {
                setTimeout(() => {
                    $('.content').viewer({
                        url: 'src'
                    })
                },300)
            }, false);
        </script>
        <script src="https://cdn.jsdelivr.net/npm/jquery-pjax@2.0.1/jquery.pjax.js"></script>
        <script src="https://tntofu.com/usr/themes/Bubble/assets/js/progress.js"></script>

        <script>
            var pgid = 0
            $(document).pjax('a[href^="https://tntofu.com/"]:not(a[target="_blank"], a[no-pjax], a[href^="https://tntofu.com//admin"])',
                {
                    container: '#pjax-container',
                    fragment: '#pjax-container',
                    timeout: 8000
                }).on('pjax:send', function() {
                pgid = start_progress()
                $(".black-cover").fadeIn(400)
                $('html,body').animate({ scrollTop: $('html').offset().top}, 500)

                destroy()
            }).on('pjax:complete', function() {
                $(".black-cover").fadeOut(400)
                stop_progress(pgid)
                init()

            })
            $("#search").submit(function() {
                var att = $(this).serializeArray()
                for(var i in att){
                    if(att[i].name=="s"){
                        $.pjax({url: "https://tntofu.com/search/"+att[i].value+"/", container: '#pjax-container',fragment: '#pjax-container',timeout:8000})
                    }
                }
                return false
            })
        </script>
        <div class="black-cover" style="display: none;"></div>
        <!-- KaTeX JS -->
        <script src="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/contrib/auto-render.min.js"></script>
        <!-- Prism JS -->
        <script src="https://cdn.jsdelivr.net/npm/prismjs@1.20.0/components/prism-core.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/prismjs@1.20.0/plugins/autoloader/prism-autoloader.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/prismjs@1.20.0/plugins/toolbar/prism-toolbar.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/prismjs@1.20.0/plugins/show-language/prism-show-language.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/prismjs@1.20.0/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/prismjs@1.20.0/plugins/line-numbers/prism-line-numbers.min.js"></script>


<!--        <div>测试前后端：点击按钮获取JSON数据</div>
        <div id = "vueContents">
            <div v-for="content in contents">
                {{content.title}}
            </div>
        </div>
        &lt;!&ndash;VUE&ndash;&gt;-->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
        <!--Axios-->
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script type="text/javascript">
            var vm = new Vue({
                el: '#vueContents',
                mounted(){ //钩子函数 链式编程
                    axios.get('http://localhost:9703/Contents/findAllTitle')
                        .then(ret=>(
                            this.contents = ret.data.data,
                                console.log(ret.data.data)

                        ))
                        .catch(function (error) {//请求失败处理
                            console.log(error)
                        });
                },
                data(){
                    return {
                        contents:{
                            cid: null,
                            title: null,
                            text: null,
                            isDone: null,
                            modifiedBy: null
                        }
                    }
                }
            })
        </script>

    </body>
</html>